{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div id="graph"></div>
</body>
<footer>
  <script src="{% static 'js/pl.js' %}"></script>
</footer>
</html>